<ion-content class="ion-padding">
    <ion-list>
        <ion-item *ngFor="let arquivo of arquivos" (click)="folhaAcoes(arquivo)">
            <ion-icon name="mic" slot="start" *ngIf="arquivo.name.endsWith('mp3')"></ion-icon>
            <ion-label class="ion-text-wrap">
                {{ arquivo.name }}
                <p>{{ arquivo.fullPath }}</p>
            </ion-label>
        </ion-item>
    </ion-list>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="capturarAudio()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>