<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/inicio/painel/timeline"></ion-back-button>
        </ion-buttons>
        <ion-title>Artigo</ion-title>
        <ion-buttons slot="end">
            <ion-button fill="clear" (click)="abrirMenu($event)">
                <ion-icon name="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div *ngFor="let post of postagem ">
        <ion-card>
            <img [src]="post.Capa">
            <ion-card-header>
                <ion-card-title>{{ post.Titulo }}</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                {{ post.Texto }}
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>