<!-- <ion-header>

    <app-botao-logout slot="end">
    </app-botao-logout>

</ion-header> -->

<ion-content>
    <!-- Inicio If User -->
    <div *ngIf="user">
        <!-- Capa -->
        <div class="wrap-cover parallax-obj">
            <div class="bg-profile shadow-4">
                <img class="parallax-obj parallax-up-obj parallax-blur-obj" src="assets/img/lemon16.jpg">
            </div>
        </div>
        <!-- Fim Capa -->

        <!-- Avatar -->
        <div class="wrap-avatar">
            <!-- Botão Mais-->
            <div class="action-btn">
                <ion-button shape="round" fill="clear" class="e2eShowPopover">
                    <ion-icon name="more"></ion-icon>
                </ion-button>
            </div>
            <!-- Fim Botão Mais-->

            <!-- Foto do Perfil -->
            <div class="avt-image circle" (click)="abrirGaleria()">
                <img [src]="user.photoURL" />
            </div>
            <!-- Fim Foto do Perfil -->

            <!-- Botão Logout -->
            <div class="action-btn">
                <app-botao-logout>
                </app-botao-logout>
            </div>
            <!-- Fim Botão Logout -->
        </div>
        <!-- Fim Avatar -->

        <!-- Início informações -->
        <div class="ion-padding">
            <!-- Info Usuário-->
            <div class="info ion-text-center">
                <h2 class="fw-600 fs-26 ion-no-margin">{{ user.displayName }}</h2>
                <p class="txt4 ion-no-margin">Desenvolvedor / Empresário</p>
            </div>
            <!-- Fim Info Usuário -->

            <!-- BIO Usuário -->
            <div class="pdt-20">
                <ion-row>
                    <ion-col class="ion-text-center">
                        <h5 class="fs-14 txt4 fw-400 ion-no-margin">Gostei</h5>
                        <p class="txt3 fs-18 fw-600 ion-no-margin">2,5K</p>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <h5 class="fs-14 txt4 fw-400 ion-no-margin">Postagens</h5>
                        <p class="txt3 fs-18 fw-600 ion-no-margin">87</p>
                    </ion-col>
                    <ion-col class="ion-text-center">
                        <h5 class="fs-14 txt4 fw-400 ion-no-margin">Seguidores</h5>
                        <p class="txt3 fs-18 fw-600 ion-no-margin">200</p>
                    </ion-col>
                </ion-row>
                <p class="txt4 pd-20 pdt-10 ion-text-center">Pequena BIO com informações do usuário.</p>
            </div>
            <!-- Fim BIO Usuário -->

            <!-- Cartão Postagem -->
            <div class="wrap-gallery-info">
                <div class=" element-gallery" *ngFor="let postagem of postagens ">
                    <div class="wrap-element shadow-2 pdr-10 pdl-10">
                        <div class="thumb-view">
                            <img [src]="postagem.Capa ">
                        </div>
                        <!-- <div class="pd-10 txt-info txt-light ">
                                <h4 class="ellipsis fs-12 fw-600 spacing1 pdb-2 uppercase ion-no-margin ">{{ postagem.Titulo }}</h4>
                                <p class="ellipsis fs-12 ion-no-margin ">{{ postagem.Texto }}</p>
                            </div> -->
                    </div>
                </div>
            </div>
            <!-- Fim Cartão Postagem -->
        </div>
        <!-- Fim Informações-->
    </div>
    <!-- Fim Inicio If User -->
</ion-content>