<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio/painel/postagens"></ion-back-button>
    </ion-buttons>
    <ion-title>Publicação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="texto">
      <ion-icon name="text"></ion-icon>
      <ion-label>texto</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="video">
      <ion-icon name="videocam"></ion-icon>
      <ion-label>video</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="podcast">
      <ion-icon name="mic"></ion-icon>
      <ion-label>Podcast</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>

  <!-- <ion-grid fixed>
    <ion-row>
      <ion-item>
        <ion-input placeholder="Enter Titulo" [(ngModel)]="postagemTitulo"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Enter Texto" [(ngModel)]="postagemTexto"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input placeholder="Enter Capa" [(ngModel)]="postagemCapa"></ion-input>
      </ion-item>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button (click)="criarPostagem()" [disabled]="!postagemTitulo || !postagemTexto || !postagemCapa">
          Publicar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid> -->






