<ion-header>
    <ion-toolbar color="primary">
        <ion-img src="assets/img/prattika-logo.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>

<super-tabs [config]="configs">
    <super-tabs-toolbar slot="top">
        <super-tab-button>
            <ion-label>Texto</ion-label>
        </super-tab-button>
        <super-tab-button>
            <ion-label>Vídeo</ion-label>
        </super-tab-button>
        <super-tab-button>
            <ion-label>Podcast</ion-label>
        </super-tab-button>
    </super-tabs-toolbar>

    <super-tabs-container>
        <super-tab>
            <ion-content>
                <ion-nav [root]="textoPage"></ion-nav>
            </ion-content>
        </super-tab>

        <super-tab>
            <ion-content>
                <ion-nav [root]="videoPage"></ion-nav>
            </ion-content>
        </super-tab>

        <super-tab>
            <ion-content>
                <ion-nav [root]="podcastPage"></ion-nav>
            </ion-content>
        </super-tab>
    </super-tabs-container>
</super-tabs>