<ion-header>
    <ion-toolbar>
        <ion-img src="assets/img/prattika-logo.png" class="logo"></ion-img>
    </ion-toolbar>
</ion-header>

<ion-content>
    <!-- Artigos -->
    <ion-item lines="none">
        <h2 slot="start">Artigos</h2>
    </ion-item>
    <ion-spinner style="display: block; margin: auto;" *ngIf="postagens == null; else ok"></ion-spinner>
    <ng-template #ok>
        <ion-slides [options]="slidesOptions">
            <ion-slide class="center" *ngFor="let postagem of postagens">
                <ion-card class="ion-text-start" [routerLink]="['/inicio/detalhes/' + postagem.id]" routerdirection="forward">
                    <img [src]="postagem.Capa">
                    <ion-card-content>
                        <span>{{ postagem.Titulo }}</span> <br/>
                        <span>Autor: {{ postagem.Usuario }}</span>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
        </ion-slides>
    </ng-template>


    <!-- Fim Artigos -->

    <ion-item lines="none">
        <h2 slot="start">Vídeos</h2>
    </ion-item>

    <ion-slides [options]="slidesOptions">
        <ion-slide class="center" *ngFor="let postagem of postagens">
            <ion-card class="ion-text-start" [routerLink]="['/inicio/detalhes/' + postagem.id]" routerdirection="forward">
                <img [src]="postagem.Capa">
                <ion-card-content>
                    <span>{{ postagem.Titulo }}</span> <br/>
                    <span>Autor: {{ postagem.Usuario }}</span>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>

    <ion-item lines="none">
        <h2 slot="start">Podcasts</h2>
    </ion-item>

    <ion-slides [options]="slidesOptions">
        <ion-slide class="center" *ngFor="let postagem of postagens">
            <ion-card class="ion-text-start" [routerLink]="['/inicio/detalhes/' + postagem.id]" routerdirection="forward">
                <img [src]="postagem.Capa">
                <ion-card-content>
                    <span>{{ postagem.Titulo }}</span> <br/>
                    <span>Autor: {{ postagem.Usuario }}</span>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>